
.about-container {
  margin-top: 100px; /* Adding top margin for spacing */
}

.about-image {
  max-width: 80%; /* Set the image width to 80% of its container */
  height: auto;
  border-radius: 8px;
  display: block;
  margin-left: auto;  /* Centers the image horizontally */
  margin-right: auto; /* Centers the image horizontally */
}

.about-content {
  padding-left: 30px;
  padding-right: 30px;
  font-size: smaller;  /* Adjusted font size to be more readable */
  font-family: monospace;  /* Changed font to a more standard, readable type */
}
.about-title {
  color: gray;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 7px;
  margin: auto;
  margin-bottom: 15px; /* Added extra space after the title */
  font-size: 18px; /* Adjusted size for better readability */
}


/* Section Styling */
.carousel-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
}

.carousel-head {
  margin-top: 70px;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.carousel-text {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.carousel-button {
  font-size: 1.1rem;
  padding: 10px 30px;
}

.image-column {
  position: relative;
  height: 100vh;
}

/* Carousel specific styling */
.carousel-inner img {
  max-height: 100vh; /* Full screen */
  object-fit: cover; /* Maintain aspect ratio and fill the space */
}

/* Carousel controls */
.carousel-control-prev, .carousel-control-next {
  background-color: transparent;
  border: none;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #ffffff;
}

/* Make the carousel responsive */
@media (max-width: 991px) {
  .carousel-head {
    font-size: 2rem;
  }

  .carousel-text {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .carousel-section {
    flex-direction: column;
    padding: 20px 0;
  }

  .text-section {
    text-align: center;
  }

  .image-column {
    height: auto; /* Let image scale down on smaller screens */
  }
}
