/* General styles */
.order-success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: black;
  font-family: "Arial", sans-serif;
  color: #d1d1d1;
  overflow: hidden;
}

/* Success message styles */
.success-message {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 20px;
  color: #c6c6c6;
  animation: fadeIn 1.5s ease-in-out;
}

p {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #8c8c8c;
  animation: fadeIn 2s ease-in-out;
}

/* Button styles */
.back-to-home-button {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 1.2rem;
  border: none;
  background: #333333;
  color: #d1d1d1;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.back-to-home-button:hover {
  transform: scale(1.05);
  background-color: #444444;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
}

/* Animation for the checkmark */
.animation {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 8px solid #555555;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: scaleUp 1.5s ease-in-out forwards;
}

.checkmark {
  font-size: 3rem; /* Size of the checkmark */
  color: #4caf50; /* Green color for the tick */
  font-weight: bold; /* Bold the tick */
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to truly center the checkmark */
  animation: checkmarkFadeIn 1s ease-in-out 0.5s forwards;
}

/* Party poppers/confetti animation */
.confetti {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10;
  display: none;
}

.confetti .confetti-piece {
  position: absolute;
  width: 5px;
  height: 10px;
  background-color: #f2b500;
  opacity: 0;
  animation: confettiAnimation 1.5s forwards;
}

.confetti .confetti-piece:nth-child(1) { animation-delay: 0.1s; left: 10px; }
.confetti .confetti-piece:nth-child(2) { animation-delay: 0.2s; left: 20px; }
.confetti .confetti-piece:nth-child(3) { animation-delay: 0.3s; left: -10px; }

/* Confetti animation */
@keyframes confettiAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(200px, -300px);
  }
}

/* Animations */
@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes checkmarkFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
